@use '../../scss/' as *;

.watch-tv {
    padding: 9rem 0;
    width: 100%;
    height: 100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include overlay();
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, $body-bg, rgb($black, 0));
    }

    &__wrap {
        @include flex(unset,center);
        flex-wrap: wrap;

        @include tablet {
            @include flex(center,center);
            flex-direction: column;
        }
    }

    &__left {
        position: relative;
        width: 76%;

        @include tablet {
            width: 100%;
        }
    }

    &__video {
        aspect-ratio: 16/9;
        width: 100%;
    }
    &__info {
        margin-left: 30px;
        width: 100%;

        @include tablet {
            width: unset;
        }

        &__title {
            font-size: 3rem;
            font-weight: 600;
            text-shadow: 2px 2px $main-color;
            letter-spacing: 2px;
        }

        &__season-number {
            font-size: 2.4rem;
            font-weight: 500;
            margin: 10px 0;
        }

        &__episode-number {
            margin: 20px 0;
            font-size: 1.6rem;
        }

        &__episode-name, &__overview, &__air-date {
            margin: 20px 0;
            font-size: 1.2rem;
        }
    }
    
    &__right {
        position: relative;
        width: 24%;

        @include tablet {
            width: 100%;
        }
        
    }

    &__other {
        width: 100%;
        height: 700px;
        overflow-y: auto;

        &__season {

            &__item {
                @include flex(center, unset);
                margin-bottom: 20px;
                cursor: pointer;
                flex-direction: column;

                @include tablet {
                    flex-direction: row;
                    height: 200px;
                }

                &__img {
                    height: 100%;
                    width: 100%;
                    border-top-right-radius: 8px;
                    border-top-left-radius: 8px;
                    padding-top: 0;
                    margin-top: 0;

                    @include tablet {
                        width: 40%;
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;
                        border-top-right-radius: 0;
                    }
                }

                &__info {
                    @include flex(unset, space-between);
                    color: $black;
                    width: 100%;
                    background-color: #fff;
                    height: 100%;
                    padding: 10px 5px;
                    border-bottom-right-radius: 8px;
                    border-bottom-left-radius: 8px;
                    flex-direction: column;
                    font-size: 1.2rem;
                    font-weight: 600;
                    text-align: center;

                    @include tablet {
                        width: 60%;
                        border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                        border-bottom-left-radius: 0;
                        margin: 10px;
                    }
                }
            }

            &__esp {
                @include tablet {
                    background: $black;
                }

                &__list {
                    background-color: #222;
                    border-radius: 8px;
                    overflow: hidden;
                    display: block;
                    height: 80px;
                    margin-bottom: 10px;
                    width: 100%;
                    color: #fff;

                    &.active {
                        background: #e67e22;
                    }
                }


                &__item {
                    @include flex(center, unset);
                    height: 100%;
                    margin-bottom: 20px;

                    &__img {
                        width: 50%;

                        @include tablet {
                            width: 40%;
                        }
                    }
                    &__name {
                        height: 100%;
                        padding: 5px 10px;
                        width: 50%;
                        text-align: center;
                        font-size: 1.4rem;
                        &:hover {
                            color: $white;
                        }

                        @include tablet {
                            width: 60%;
                        }
                    }
                }
            }
        }
    }

    &__similar {
        position: relative;
        margin-top: 7rem;

        &__title {
            font-size: 3rem;
            color: $txt-color;
        }
    }
}